<!DOCTYPE html>
<html lang="vi">
<head>
<meta charset="UTF-8">
<title>Trang Chủ</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/home.css">
<link rel="stylesheet" href="/css/shop.css">
<link rel="stylesheet" href="/css/footer.css">
<link rel="stylesheet" href="/css/product.css">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
	integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
	crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body>
	<header class="header">
		<div class="header__logo__img">
			<div class="header__logo">
				<a href="index.php " class=""> <img alt="img-logo"
					src="/images/Logo.png" />
				</a>
			</div>
		</div>

		<div id="menu">
			<ul class="list_menu">
				<li><a href="#">Trang chủ</a></li>
				<li><a href="/cua-hang">Cửa Hàng</a></li>
				<li><a href="#">Thông Báo</a></li>
				<li><a href="/dang-ky">Đăng Ký</a></li>
				<li><a href="/dang-nhap">Đăng Nhập</a></li>
			</ul>
		</div>

		<div class="cart">
			<a href="/gio-hang"><i class="fa-sharp fa-solid fa-cart-shopping img_cart"></i></a><span
				class="cart_item">Giỏ Hàng</span>
		</div>

	</header>

	<main>
		<div class="container__imgLarge" id="banner">
			<div class="container__imgLarge-wrap">
				<img src="/images/banner1.png" alt=""
					class="container__imgLarge-img" /> <img src="/images/banner2.png"
					alt="" class="container__imgLarge-img" />
				<div class="container__imgLarge-wrap-icon">
					<i class="container__imgLarge-icon fa-solid fa-circle-left"></i> <i
						class="container__imgLarge-icon fa-solid fa-circle-right"></i>
				</div>
				<div class="container__imgLarge-wrap-circle">
					<i
						class="container__imgLarge-icon-circle container__imgLarge-icon-circle active fa-solid fa-circle"></i>
					<i class="container__imgLarge-icon-circle fa-solid fa-circle"></i>
				</div>
			</div>
			<div class="banner__thumbnail">
				<img src="/images/thumbnail1.png" alt="" /> <img
					src="/images/thumbnail2.png" alt="" /> <img
					src="/images/thumbnail3.png" alt="" />
			</div>
		</div>

		<h1 class="mt-5 text-center">Sản Phẩm Nổi Bật</h1>
		<div class="toolbar__search-message"></div>
		<div class="product__container display_row_card">
			<div class="product__container display_row_card">
				<div class="container__row">
					<div class=container__row-header>Naruto</div>
					<div class=container__row-wrap-list>
						<img src="/images/naruto4-min.png" alt="" /> <img
							src="/images/naruto5.jpg" alt="" /> <img
							src="/images/naruto2.jpg" alt="" /> <img
							src="/images/naruto3.jpg" alt="" /> <img
							src="/images/deidara1.PNG" alt="" />
					</div>
				</div>

				<div class="container__row">
					<div class=container__row-header>Dragon Ball</div>

					<div class=container__row-wrap-list>
						<img src="/images/goku1.jpg" alt="" /> <img
							src="/images/goku2-min.jpg" alt="" /> <img
							src="/images/dragonball-min.png" alt="" /> <img
							src="/images/goku5-min.jpg" alt="" /> <img
							src="/images/goku3-min.jpg" alt="" />
					</div>
				</div>

				<div class="container__row">
					<div class=container__row-header>Gun</div>

					<div class=container__row-wrap-list>
						<img src="/images/ar1-min.jpg" alt="" /> <img
							src="/images/ar2-min.jpg" alt="" /> <img
							src="/images/ar3-min.jpg" alt="" /> <img
							src="/images/ar4-min.jpg" alt="" /> <img
							src="/images/ar5-min.jpg" alt="" />
					</div>

				</div>

			</div>
		</div>

	</main>

	<footer>
		<div class="footer-container">
			<div class="footer-container_left">
				<h3>LIÊN HỆ VỚI CHÚNG TÔI</h3>
				<div class="footer__info__icon">
					<i class="fa-brands fa-twitter"></i> <i
						class="fa-brands fa-instagram"></i> <i
						class="fa-brands fa-facebook"></i>
				</div>
				<div class="footer__contact-address">
					<p>
						<i class="footer__contact_icon fa-solid fa-location-dot"></i>Địa
						chỉ: Quận 5, Tp.HCM, VietNam
					</p>
				</div>
				<div class="footer__contact-hotline">
					<p>
						<i class="footer__contact_icon fa-solid fa-phone"></i>Hotline:
						1900 9999
					</p>
				</div>
				<div class="footer__contact-email">
					<p>
						<i class="footer__contact_icon fa-solid fa-envelope"></i>Email:
						dino-shop@gmail.com
					</p>
				</div>
			</div>
			<div class="footer-container_right">

				<div class="footer_item">
					<h3>DỊCH VỤ</h3>
					<ul>

						<li>Điều khoản sử dụng</li>
						<li>Chính sách bảo mật thông tin cá nhân</li>
						<li>Chính sách bảo mật thanh toán</li>
					</ul>
				</div>
				<div class="footer_item">
					<h3>HỖ TRỢ</h3>
					<ul>
						<li>Chính sách đổi - trả - hoàn tiền</li>
						<li>Chính sách bảo hành - bồi hoàn</li>
						<li>Chính sách vận chuyển</li>

					</ul>

				</div>
				<div class="footer_item">
					<h3>TÀI KHOẢN CỦA TÔI</h3>
					<ul>
						<li>Đăng nhập/Tạo mới tài khoản</li>
						<li>Thay đổi địa chỉ khách hàng</li>
						<li>Lịch sử mua hàng</li>

					</ul>
				</div>
			</div>
		</div>
	</footer>

	<script src="js/jquery.min.js"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	<script>
	// Lấy các phần tử HTML cần thao tác
	const banner = document.querySelector('.container__imgLarge');
	const imgs = banner.querySelectorAll('.container__imgLarge-img');
	const prevBtn = banner.querySelector('.fa-circle-left');
	const nextBtn = banner.querySelector('.fa-circle-right');
	const circles = banner.querySelectorAll('.container__imgLarge-icon-circle');
	const thumbnails = banner.querySelectorAll('.banner__thumbnail img');

	// Thiết lập biến để lưu trạng thái hiện tại của banner
	let currentImg = 0;

	// Hàm chuyển đổi ảnh banner
	function showImg(n) {
	  // Ẩn tất cả các ảnh
	  imgs.forEach(img => (img.style.opacity = 0));
	  // Thiết lập ảnh hiện tại
	  imgs[n].style.opacity = 1;
	  // Thiết lập trạng thái hiện tại cho biến
	  currentImg = n;
	  // Thiết lập trạng thái hiện tại cho các đối tượng circle
	  circles.forEach(circle => circle.classList.remove('active'));
	  circles[currentImg].classList.add('active');
	}

	// Hàm chuyển đổi ảnh sang trái
	function prevImg() {
	  currentImg--;
	  if (currentImg < 0) {
	    currentImg = imgs.length - 1;
	  }
	  showImg(currentImg);
	}

	// Hàm chuyển đổi ảnh sang phải
	function nextImg() {
	  currentImg++;
	  if (currentImg > imgs.length - 1) {
	    currentImg = 0;
	  }
	  showImg(currentImg);
	}

	// Xử lý sự kiện khi nhấn nút prev
	prevBtn.addEventListener('click', prevImg);

	// Xử lý sự kiện khi nhấn nút next
	nextBtn.addEventListener('click', nextImg);

	// Xử lý sự kiện khi nhấn vào các đối tượng circle
	circles.forEach((circle, index) => {
	  circle.addEventListener('click', () => {
	    showImg(index);
	  });
	});

	// Xử lý sự kiện khi nhấn vào các thumbnail
	thumbnails.forEach((thumbnail, index) => {
	  thumbnail.addEventListener('click', () => {
	    showImg(index);
	  });
	});
	</script>
</body>
</html>